main {
  display: flex;
  background: #f4f4f6;
  color: rgb(96, 125, 139);
  min-height: 50vh;
  padding: 30px 0px;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 20%;
  margin: 0px 20px;
  height: 90vh;
  white-space: nowrap;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.nav__inner {
  margin: 0;
  padding: 0;
}

.nav__item {
  border-bottom: 1px solid rgb(96, 125, 139);

}

.nav__link {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  transition: background 0.3s ease-in;
  text-decoration: none;
  color: #000;
}

.icam-link {
  color : inherit;
  transition: color 2s;
  text-decoration: underline;
  display: inline-block;
}

.icam-link:hover {
  color: green;
  transform: scale(1.1);
}

.nav__item--active .nav__link {
  background: rgb(96, 125, 139);
  color: #fff ;
}

.nav__link:hover{
  background: rgb(96, 125, 139);
  color: #fff;
}

.section {
}

.down-arrow {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.intro-heading {
  font-size: 72px;
  font-weight: 700;
  animation-name: FadeInBottom;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.align-center {
  height : 80vh;
  display : flex;
  align-items : center;
  justify-content : center;
}

@media (max-width: 750px) {
  main {
    display: block;
    padding: 0px 0px;
  }

  .nav {
    height: 50vh;
    z-index: 1000;
  }

  .nav__item {
    background : #f4f4f6;
  }
  .section {
    margin-top: 10px;
  }


}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

@keyframes FadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to { opacity: 1 }
}
